@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap";
:root {
  --white: #fff;
  --light-green: #ecfdf5;
  --bright-green: #10b981;
  --blue: #273549;
  --dark-blue: #1f2937;
  --background: #1c1c1c;
  --light-gray: #d5d4d8;
  --dark-gray: #6b7280; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.light-mode {
  background-color: var(--light-green) !important;
  border: 0.125rem solid var(--dark-blue) !important;
  color: var(--dark-gray) !important; }
  .light-mode .switch:hover {
    color: var(--dark-blue); }
  .light-mode h1 {
    color: var(--dark-blue) !important; }
  .light-mode .passwords {
    border-top: 1px solid var(--dark-gray) !important; }
  .light-mode .btn-copy:hover {
    color: var(--dark-blue) !important; }
  .light-mode textarea {
    background-color: var(--light-gray) !important; }
  .light-mode .number-line input[type=range]:focus {
    outline: none; }
    .light-mode .number-line input[type=range]:focus::-webkit-slider-runnable-track {
      background: var(--blue); }
    .light-mode .number-line input[type=range]:focus::-ms-fill-lower {
      background: var(--blue); }
    .light-mode .number-line input[type=range]:focus::-ms-fill-upper {
      background: var(--blue); }
  .light-mode .number-line input[type=range]::-webkit-slider-runnable-track {
    background: var(--blue); }
  .light-mode .number-line input[type=range]::-webkit-slider-thumb {
    border: 1px solid var(--blue);
    background: #ECFDF5; }
  .light-mode .number-line input[type=range]::-moz-range-track {
    background: var(--blue); }
  .light-mode .number-line input[type=range]::-moz-range-thumb {
    border: 1px solid var(--blue);
    background: #ECFDF5; }
  .light-mode .number-line input[type=range]::-ms-fill-lower {
    background: var(--blue); }
  .light-mode .number-line input[type=range]::-ms-fill-upper {
    background: var(--blue); }
  .light-mode .number-line input[type=range]::-ms-thumb {
    border: 1px solid var(--blue);
    background: #ECFDF5; }

i {
  font-size: 1rem; }

.switch {
  display: block;
  position: absolute;
  top: calc(0% + 5px);
  cursor: pointer;
  right: calc(0% + 5px);
  font-size: 1rem; }
  .switch:hover {
    color: var(--bright-green); }

.main {
  position: relative;
  min-height: 400px;
  max-width: 540px;
  background-color: var(--dark-blue);
  border: 2px solid var(--light-green);
  border-radius: 10px;
  color: var(--light-gray);
  font-size: 1.25rem;
  padding: 3.125rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: normal; }

.header {
  border-bottom: 1px solid var(--blue); }
  .header h1 {
    color: var(--white);
    font-family: "Karla", sans-serif;
    font-size: 2.5rem;
    margin-top: 0; }
    .header h1 span {
      display: inline-flex;
      color: var(--bright-green); }

p {
  margin-bottom: 0;
  margin-top: .5rem; }

.options .btn-outline {
  border: 1px solid var(--bright-green);
  color: var(--bright-green); }
  .options .btn-outline:hover {
    background-color: var(--bright-green);
    color: var(--white); }
  .options .btn-outline .btn:focus {
    background-color: var(--bright-green);
    box-shadow: none;
    border: none; }

.options .btn-check:active + .btn,
.options .btn-check:checked + .btn,
.options .btn.active, .options .btn.show, .options .btn:active {
  background-color: var(--bright-green);
  border: 1px solid var(--bright-green);
  color: var(--white); }

.number-line label {
  font-size: 1rem; }

.number-line input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  margin: 0;
  width: 70%;
  background-color: transparent; }
  .number-line input[type=range]:focus {
    outline: none; }
    .number-line input[type=range]:focus::-webkit-slider-runnable-track {
      background: var(--bright-green); }
    .number-line input[type=range]:focus::-ms-fill-lower {
      background: var(--bright-green); }
    .number-line input[type=range]:focus::-ms-fill-upper {
      background: var(--bright-green); }
  .number-line input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--bright-green);
    border-radius: 1px; }
  .number-line input[type=range]::-webkit-slider-thumb {
    border: 1px solid var(--bright-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ECFDF5;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px; }
  .number-line input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--bright-green);
    border-radius: 1px; }
  .number-line input[type=range]::-moz-range-thumb {
    border: 1px solid var(--bright-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ECFDF5;
    cursor: pointer; }
  .number-line input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .number-line input[type=range]::-ms-fill-lower {
    background: var(--bright-green);
    border-radius: 2px; }
  .number-line input[type=range]::-ms-fill-upper {
    background: var(--bright-green); }
  .number-line input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 1px solid var(--bright-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ECFDF5;
    cursor: pointer; }

#password {
  border-top: 1px solid var(--blue);
  font-size: 1rem;
  margin-top: 2rem;
  padding: .3rem .5rem;
  word-break: break-all;
  color: var(--bright-green); }

button {
  background-color: var(--bright-green);
  border: none;
  border-radius: 6px;
  color: var(--white);
  padding: 9px 17px 9px 15px;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  min-width: 185px; }

textarea {
  background-color: var(--blue);
  border: 1px solid var(--dark-gray);
  border-radius: 6px 0 6px 6px;
  font-size: 1rem;
  padding: .65rem;
  height: 40px;
  margin-top: 2rem;
  word-break: break-all;
  color: var(--bright-green);
  position: relative; }

.btn-copy {
  cursor: pointer;
  margin-top: 2rem;
  top: 0;
  right: 0; }
  .btn-copy:hover {
    color: var(--bright-green); }
